#root {
  width: 1440px;
  height: 1600px;
  background: var(--neutral-100, #FBF6D9);
  margin: 0 auto;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  width: 700px;
height: 808px;
flex-shrink: 0;
border-radius: 34px;
border: 1px solid #EFF0F6;
background: #FAF8F8;
box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
margin: 0 auto;
margin-top: 42px;
}
